.content_heading {
    margin-right: 10px;
}

.section_header {
    display: flex;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    flex-grow: 1;
    position: relative;
}

.text {
    text-align: left;
    width: auto;
    min-width: 40%;
}

.section_header_conteiner {
    border: none;
    margin: 0;
    padding: 16px 24px 16px 24px;
    background-color: rgba(0, 0, 0, 0.03);
    width: 100%;
    height: auto;
    max-height: 65px;
}

.sections_container {
    margin-top: 30px;
    border-bottom: 1px solid #d1d7dc;
}

.section_length {
    right: 0;
    font-weight: 400;
}

.section_container {
    border-top: 1px solid #d1d7dc;
    border-left: 1px solid #d1d7dc;
    border-right: 1px solid #d1d7dc;
}

.section_content {
    padding: 16px 24px 16px 24px;
}

.section_file {
    display: flex;
    margin-bottom: 16px;
}

.file_title {
    margin-left: 15px;
    width: auto;
}

.file_summary {
    width: 50px;
    font-weight: 300;
    font-size: 1.1rem;
}

.file_title {
    min-width: 550px;
}

.section_icon {
    margin-right: 20px;
}