.instructor {
    margin-top: 20px;
}

.instructor_name {
    color: #5624d0;
    text-underline-offset: 0.4rem;
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.instructor_job {
    color: #6a6f73;
    font-weight: 400;
    font-size: 1.1rem;
}

.instructor_img {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    margin-left: 0;
    margin-right: 10px;
}

.instructor_profile {
    display: flex;
    margin-top: 15px;
}

.instructor_list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.list_content {
    display: flex;
}

.list_text {
    margin-left: 16px;
}

.instructor_text {
    font-weight: 400;
    font-style: unset;
    margin-bottom: 1rem;
    color: #46494e;
    font-size: 14px;
}

.btn {
    color: #5624d0;
    font-weight: 700;
    width: auto;
    margin: 0 0 0 0;
    border: none;
}

.description_container {
    -webkit-mask-image: linear-gradient( rgb(255, 255, 255), rgb(255, 255, 255), rgb(221 16 16 / 0%));
}

.list {
    margin-bottom: 8px;
}