.header_perant {
    position: relative;
}

.header_child1 {
    position: absolute;
}

.header_child2 {
    position: absolute;
    margin: 20px;
}

.main_page2 {
    margin-left: 17%;
    padding-top: 32px;
    max-width: 700px;
}

.instructors {
    margin-top: 30px;
}

.CourseLongCard {
    z-index: 7;
    position: absolute;
    top: 7rem;
    margin-left: 46rem;
}

@media screen and (max-width: 1100px) {
    .main_page2 {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 500px;
    }
    .CourseLongCard {
        display: none;
    }
}