.main-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.courses_container {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    border-style: solid;
    border-color: #d1d7dc;
    border-width: 1px;
    padding: 2rem 2rem 2rem 2rem;
}